dasha_concierge.n8n.json
{
  "name": "Консьерж заказов Даши",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "d02a845f-2a9a-4db6-b644-829f57993d2e",
      "name": "Входящее сообщение",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ],
      "webhookId": "1c5b81c1-eb88-49b7-90f1-5979c03fd0d6"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const upd = $input.first().json;\nconst NL = String.fromCharCode(10);\nconst chatId = upd.callback_query ? upd.callback_query.message.chat.id : (upd.message ? upd.message.chat.id : null);\n\nif (upd.callback_query) {\n  const data = upd.callback_query.data || '';\n  let t;\n  if (data === 'approve') t = 'Готово — ответ отправлен клиенту (демо). Дата забронирована.';\n  else if (data === 'reject') t = 'Отклонено — клиенту ничего не ушло.';\n  else t = 'Ок, открой черновик, поправь и отправь вручную.';\n  return [{ json: { chatId: chatId, text: t } }];\n}\n\nconst msg = (upd.message && upd.message.text) ? upd.message.text : '';\nconst low = msg.toLowerCase();\nconst today = new Date();\n\nconst SENS = ['жалоб','кисл','испорт','ужасн','верните','возврат','похорон','соболезн','болезн','расстроен','недоволен'];\nif (SENS.some(function(w){ return low.indexOf(w) !== -1; })) {\n  const t = 'ТОЛЬКО ДЛЯ ТЕБЯ — не автоматизирую.' + NL + 'Клиент прислал чувствительное сообщение (жалоба/тяжёлая тема).' + NL + 'Я не пишу черновик — ответь, пожалуйста, лично.';\n  return [{ json: { chatId: chatId, text: t } }];\n}\n\nlet servings = null;\nlet m1 = low.match(/([0-9]{1,3})[ ]*(?:человек|персон|гост|чел)/);\nif (m1) servings = parseInt(m1[1]);\nelse { let m2 = low.match(/(?:человек|персон|гост|гостей|чел)[а-я]*[ ]*([0-9]{1,3})/); if (m2) servings = parseInt(m2[1]); }\n\nconst MONTHS = {'январ':1,'феврал':2,'март':3,'апрел':4,'ма':5,'июн':6,'июл':7,'август':8,'сентябр':9,'октябр':10,'ноябр':11,'декабр':12};\nlet ev = null;\nlet dm = low.match(/([0-9]{1,2})[ .]*(январ|феврал|март|апрел|ма|июн|июл|август|сентябр|октябр|ноябр|декабр)/);\nif (dm) {\n  const day = parseInt(dm[1]); const mo = MONTHS[dm[2]];\n  const y = (today.getMonth()+1) <= mo ? today.getFullYear() : today.getFullYear()+1;\n  ev = new Date(y, mo-1, day);\n} else {\n  let dd = low.match(/([0-9]{1,2})[.]([0-9]{1,2})/);\n  if (dd) ev = new Date(today.getFullYear(), parseInt(dd[2])-1, parseInt(dd[1]));\n}\n\nconst COMPLEX = ['фигур','динозавр','роспис','золот','объёмн','лепк'];\nconst MEDIUM = ['цвет','ягод','надпис','декор','тема'];\nlet decor = 'simple';\nif (COMPLEX.some(function(w){ return low.indexOf(w)!==-1; })) decor='complex';\nelse if (MEDIUM.some(function(w){ return low.indexOf(w)!==-1; })) decor='medium';\nconst tiers = (low.indexOf('ярус')!==-1) ? 2 : 1;\nconst delivery = ['достав','привез','адрес'].some(function(w){ return low.indexOf(w)!==-1; });\n\nfunction fmt(d){ const p=function(n){ return n<10?('0'+n):(''+n); }; return p(d.getDate())+'.'+p(d.getMonth()+1)+'.'+d.getFullYear(); }\n\nif (!servings || !ev) {\n  const need = [];\n  if (!servings) need.push('число персон');\n  if (!ev) need.push('дату');\n  const t = 'Не хватает данных для расчёта: ' + need.join(', ') + '.' + NL + 'Черновик уточнения клиенту: Обожаю такие заказы! Подскажи, пожалуйста, ' + need.join(' и ') + '?';\n  return [{ json: { chatId: chatId, text: t } }];\n}\n\nfunction basePrice(s){ const t=[[8,2500],[15,4000],[25,6000],[40,9000]]; for (let i=0;i<t.length;i++){ if (s<=t[i][0]) return t[i][1]; } return Math.round(9000*s/40); }\nconst base = basePrice(servings);\nconst tiersExtra = 2000*Math.max(0,tiers-1);\nconst decorAdd = decor==='complex'?3500:(decor==='medium'?1500:0);\nconst deliveryAdd = delivery?800:0;\nconst subtotal = base+tiersExtra+decorAdd+deliveryAdd;\nconst daysUntil = Math.round((ev - today)/(1000*60*60*24));\nconst isRush = daysUntil < 4;\nconst rush = isRush ? Math.round(subtotal*0.30) : 0;\nconst total = subtotal+rush;\nconst deposit = Math.round(total*0.5);\n\nconst dd2 = (ev.getDay()+6)%7;\nconst mon = new Date(ev); mon.setDate(ev.getDate()-dd2);\nconst sun = new Date(mon); sun.setDate(mon.getDate()+6);\nconst BOOKED = ['2026-07-14'];\nconst booked = BOOKED.map(function(s){ return new Date(s); }).filter(function(d){ return d>=mon && d<=sun; }).length;\nconst hasRoom = booked < 6;\n\nif (!hasRoom) {\n  const draft = 'Ой, спасибо, что подумали обо мне! Но на эту неделю я уже полностью расписана и не хочу делать ваш торт наспех. Могу поставить в лист ожидания или испечь к ближайшей свободной дате — как вам?';\n  const t = 'ВНИМАНИЕ: неделя ' + fmt(mon) + ' — ' + fmt(sun) + ' ПОЛНАЯ (' + booked + '/6).' + NL + 'Рекомендую: отказ + вейтлист (не бери наспех).' + NL + NL + 'Черновик отказа:' + NL + draft;\n  return [{ json: { chatId: chatId, text: t } }];\n}\n\nconst draft = 'Обожаю такие заказы! На ' + servings + ' человек к ' + fmt(ev) + ' сделаю — выйдет ' + total + ' руб (предоплата ' + deposit + ' руб бронирует дату). Подтверждаем?';\nlet lines = 'База: ' + base + ' руб';\nif (tiersExtra) lines += NL + 'Доп. ярусы: +' + tiersExtra + ' руб';\nif (decorAdd) lines += NL + 'Декор: +' + decorAdd + ' руб';\nif (deliveryAdd) lines += NL + 'Доставка: +' + deliveryAdd + ' руб';\nif (isRush) lines += NL + 'Срочность (+30%): +' + rush + ' руб';\nlines += NL + 'ИТОГО: ' + total + ' руб (предоплата ' + deposit + ' руб)';\nconst t = 'НОВЫЙ ЗАКАЗ' + NL + servings + ' перс. · ' + fmt(ev) + ' · декор: ' + decor + ' · ' + (delivery?'доставка':'самовывоз') + NL + NL + lines + NL + NL + 'Неделя ' + fmt(mon) + ' — ' + fmt(sun) + ': ' + booked + '/6 (место есть)' + NL + NL + 'Черновик ответа клиенту:' + NL + draft;\nreturn [{ json: { chatId: chatId, text: t } }];"
      },
      "id": "e14e5f75-14bb-40ad-9250-d5a8b6deb2cc",
      "name": "Консьерж: бриф + цена",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Одобрить",
                    "additionalFields": {
                      "callback_data": "approve"
                    }
                  },
                  {
                    "text": "✏️ Изменить",
                    "additionalFields": {
                      "callback_data": "edit"
                    }
                  },
                  {
                    "text": "❌ Отклонить",
                    "additionalFields": {
                      "callback_data": "reject"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3877fce0-63bf-4ada-82e1-0243ffd41912",
      "name": "Карточка Даше",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "Входящее сообщение": {
      "main": [
        [
          {
            "node": "Консьерж: бриф + цена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Консьерж: бриф + цена": {
      "main": [
        [
          {
            "node": "Карточка Даше",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}